{% extends 'FE/template/base.html' %}

{% block title %}
    List
{% endblock %}


{% block content %}
    <div class="pd-top-80 pd-bottom-50" id="grid">
        <div class="container">
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4">
                        <div class="single-post-wrap style-overlay">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='image_upload/'+article.banner) }}" alt="{{ article.banner }}" height="350">
                                <a class="tag-base tag-purple" href="#">{{ article.category }}</a>
                            </div>
                            <div class="details">
                                <div class="post-meta-single">
                                    <p><i class="fa fa-clock-o"></i>{{ article.published_date }}</p>
                                </div>
                                <h6 class="title">{{ article.writer }}</h6>
                                <h6 class="title"><a href="{{ url_for('detail', title=article.title) }}">{{ article.title }}</a></h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <table width="100%">
                <tr>
                    <td>
                        {{ pagination.info }}
                    </td>
                    <td>
                        {{ pagination.links }}
                    </td>
                </tr>
            </table>
        </div>  
    </div>
{% endblock %}

   