<!-- Sidebar -->
<div class="main-sidebar">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="index.html">Kelompok 2</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="index.html">K2</a>
      </div>
      <ul class="sidebar-menu">
          <li class="menu-header">Dashboard</li>
          <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
          </li>
          <li class="menu-header">Manage Blog</li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Blog</span></a>
          </li>
          <li><a class="nav-link" href="/admin/category/index"><i class="far fa-square"></i> <span>Category</span></a></li>
          <li><a class="nav-link" href="/admin/tag/index"><i class="far fa-square"></i> <span>Tags</span></a></li>
          <li class="menu-header">Manage Users</li>
          <li class="nav-item">
            <a href="/admin/manage/index" class="nav-link"><i class="fas fa-th-large"></i> <span>Admin</span></a>
          </li>
          <li class="nav-item">
            <a href="/admin/user/index" class="nav-link"><i class="far fa-file-alt"></i> <span>User</span></a>
          </li>
         
        </ul>

        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
          <a href="#" class="btn btn-primary btn-lg btn-block btn-icon-split">
            <i class="fas fa-rocket"></i> Enjoy
          </a>
        </div>
    </aside>
  </div>
  <!-- Sidebar -->