{% extends 'CMS/template/base.html' %}

{% block title %}
    User
{% endblock %}


{% block content %}
  <!-- Main Content -->
  <div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>User</h1>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <a href="/admin/user/create" class="btn btn-sm btn-primary">Create</a>
                </div>
                <div class="card-body">
                    <table class="table">
                    <thead>
                        <tr>
                          <th>No</th>
                          <th scope="col">Username</th>
                          <th scope="col">Full Name</th>
                          <th scope="col">Role</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                          </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                        <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{ user.username }}</td>
                          <td>{{ user.first_name }} {{ user.last_name }}</td>
                          <td>{{ user.role }}</td>
                          <td>{{ user.status }}</td>
                          <td>
                            <a href="{{ url_for('adminUserDelete', id=user._id) }}" onclick="return confirm(' you want to delete?');" class="btn btn-outline-success">Hapus</a>
                            <a href="{{ url_for('adminUserEdit', id=user._id) }}" class="btn btn-primary">Edit</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    </table>
                </div>
                </div>
           </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Main Content -->
{% endblock %}